.greetings-message {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.greetings-title {
    font-size: 30px;
    margin-bottom: 15px;
}

.greetings-icon {
    width: 120px;
    height: 120px;
    position: relative;
    margin-bottom: 20px;
}
